body{
    font-family: 'Raleway', sans-serif;
  }
  



  footer {
      background-color: #222222;
   
  }


  
  .footer-top .fa {
      font-size: 8px;
      color: #FFF;
      padding-right: 10px;
  }
  
  .footer-top a {
      color: #FFF;
      background: #333333; 
      padding: 10px;
  }
  
  .footer-top .col-lg-2:hover .fa, 
  .footer-top .col-lg-2:hover a{
      color: #7dabdb;
      text-decoration: none;
  }
  
  .copyright {
      background-color: #f0f0f0;
  }
  
  .copyright p {
      font-size: 12px;
      padding: 15px 0 10px 0;
  }
  
  #top {
      color: #fff;
      background: #7dabdb;
      cursor: pointer;
      font-size: 18px;
      line-height: 40px;
      height: 40px;
      width: 40px;
      right: 30px;
      position: fixed;
      border-radius: 3px;
      text-align: center;
      bottom: 350px;
  }
 
  /*  Footer 3 */
  .footer-top3 .fa {
      background: #333333;
      color: #FFF;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      font-size: 14px;
      margin-right: 5px;
  } 
  
  .footer-top3 .fa:hover {
      color: #FFF;
      background: #7dabdb;
      transition: all 2s ease-in-out;
  } 
  
  .footer-top3 a {
      color: #FFF;
      text-decoration: none;
  }
  /*  Footer 3 End */